@media only screen and (max-width: 600px) {
  .responsiveCard {
    width: 90% !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .responsiveCard {
    width: 50% !important;
  }
}
.myContainer {
  background-image: url("../Images/bg.jpg");
  height: 100vh;
}
input[type] {
  box-shadow: none !important;
  border: 1px solid #007bff;
}
